<section id="app-container">
  <div id="map"></div>
  <div id="controls">
    <div class="toggles">
      <a title="Expand" id="show" href="#" class="toggle">+ <span>expand</span></a>
      <a title="Collapse" id="hide" href="#" class="toggle">- <span>collapse</span></a>
    </div>
    <h1>Philadelphia Police Advisory Commission Complaints</h1>
    <h2>2009 &ndash; 2012</h2>
    <div class="description">
      <p>This map plots 2009 &ndash; 2012 complaints filed with the Philadelphia Police Advisory Commission by citizens against Philadelphia Police officers. Click a marker to view complaint details.</p>
      <p>The data is published by <a href="http://www.opendataphilly.org/opendata/resource/218/philadelphia-police-advisory-commission-complaints/">Open Data Philly</a> and has been imported to a public <a href="https://docs.google.com/spreadsheet/ccc?key=0Aii0ITjxvJ6fdFlPNHVINHY2dVhfODNsY2JWU0U0NHc&usp=sharing">Google Spreadsheet</a>. According to Open Data Philly, the data comes directly from the Police Advisory Commission Complaint Database.</p>
      <p>The data does not include additional complaints filed with Philadelphia Police Internal Affairs.</p>
      <p>Please reference the application's <a href="https://docs.google.com/spreadsheet/ccc?key=0Aii0ITjxvJ6fdFlPNHVINHY2dVhfODNsY2JWU0U0NHc#gid=0">Google Spreadsheet</a>, <a href="http://github.com/mdb/phl-pac-complaint-browser">source code</a> and <a href="http://www.opendataphilly.org/opendata/resource/218/philadelphia-police-advisory-commission-complaints/">Open Data Philly's PAC Complaints data</a> in accessing data integrity and accuracy. Defects can be logged on <a href="https://github.com/mdb/phl-pac-complaint-browser/issues">Github</a>.</p>
    </div>
    <form id="control-form">
      <h3>Filter by:</h3>
      <div></div>
      <input type="submit" value="Submit" />
      <a class="clear" href="/">clear filters</a>
    </form>
    <footer>
      <ul>
        <li>&copy; 2013 <a href="http://github.com/mdb">mdb</a></li>
        <li><a href="http://github.com/mdb/phl-pac-complaint-browser">Source Code</a></li>
        <li><a href="http://www.opendataphilly.org/opendata/resource/218/philadelphia-police-advisory-commission-complaints/">Data</a></li>
      </ul>
    </footer>
  </div>
</section>
