<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.min.js"></script>
<% } else { %>
  <script type="text/javascript" src="app.js"></script>
<% } %>
<script type="text/template" id="tooltip-template">
  <table>
    <tr>
      <th>Type:</th>
      <td>{{ type }}</td>
    </tr>
    <tr>
      <th>Unit:</th>
      <td>{{ unit }}</td>
    </tr>
    <tr>
      <th>Race:</th>
      <td>{{ race }}</td>
    </tr>
    <tr>
      <th>Age:</th>
      <td>{{ age }}</td>
    </tr>
    <tr>
      <th>Sex:</th>
      <td>{{ sex }}</td>
    </tr>
    <tr>
      <th>Action:</th>
      <td>{{ action }}</td>
    </tr>
    <tr>
      <th>Status:</th>
      <td>{{ status }}</td>
    </tr>
  </dl>
</script>
<script type="text/javascript">
  $(document).ready(function () {
     _.templateSettings = {
      interpolate : /\{\{(.+?)\}\}/g
    };

    app.opts = {
      mapContainer: 'map',
      tileURL: 'http://api.tiles.mapbox.com/v3/mdb.map-iis6te5b.jsonp',
      mapOptions: {
        center: [39.99, -75.150],
        zoom: 12,
        minZoom: 9,
        maxZoom: 18,
        maxBounds: [
          [39.69, -76.20],
          [40.60, -74.14]
        ]
      }
    };

    Tabletop.init({
      key: '0Aii0ITjxvJ6fdFlPNHVINHY2dVhfODNsY2JWU0U0NHc',
      callback: function(data, tabletop) { 
        var i,
            dataLength = data.length,
            template = _.template($('#tooltip-template').html());
   
         // Kick off map
        app.initMap(function() {
          for (i=0; i<dataLength; i++) {
            L.marker([data[i].latitude, data[i].longitude])
              .addTo(app.map)
              .bindPopup(template({
                type: data[i].type,
                race: data[i].race,
                sex: data[i].sex,
                age: data[i].age,
                date: data[i].date,
                unit: data[i].unit,
                action: data[i].action,
                status: data[i].status
              })).openPopup();
          }
        });         
      },
      simpleSheet: true 
    });
  });
</script>
