<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.min.js"></script>
<% } else { %>
  <script type="text/javascript" src="models/complaint.js"></script>
  <script type="text/javascript" src="models/control.js"></script>
  <script type="text/javascript" src="collections/complaints.js"></script>
  <script type="text/javascript" src="collections/controls.js"></script>
  <script type="text/javascript" src="views/point.js"></script>
  <script type="text/javascript" src="views/control.js"></script>
  <script type="text/javascript" src="views/map.js"></script>
  <script type="text/javascript" src="routers/app.js"></script>
<% } %>
<script type="text/template" id="control-template">
  <select name="{{= trait }}"class="{{= trait }}">
    <option value="all">{{= trait }}</option>
    {{ _.each(values, function (value) { }}
      <option  value="{{= value }}">{{= value }}</option>
    {{ }); }}
  </select>
</script>
<script type="text/template" id="tooltip-template">
  <table>
    <tr>
      <th>Type:</th>
      <td>{{= type }}</td>
    </tr>
    <tr>
      <th>Unit:</th>
      <td>{{= unit }}</td>
    </tr>
    <tr>
      <th>Race:</th>
      <td>{{= race }}</td>
    </tr>
    <tr>
      <th>Age:</th>
      <td>{{= age }}</td>
    </tr>
    <tr>
      <th>Sex:</th>
      <td>{{= sex }}</td>
    </tr>
    <tr>
      <th>Action:</th>
      <td>{{= action }}</td>
    </tr>
    <tr>
      <th>Status:</th>
      <td>{{= status }}</td>
    </tr>
  </table>
</script>
<script type="text/javascript">
  $(document).ready(function () {
    // use moustache syntax with underscore templates
    _.templateSettings.evaluate = /\{\{(.+?)\}\}/g;
    _.templateSettings.interpolate = /\{\{=(.+?)\}\}/g;

    Tabletop.init({
      key: '0Aii0ITjxvJ6fdFlPNHVINHY2dVhfODNsY2JWU0U0NHc',
      callback: function(data, tabletop) { 
        // declare the mapView configuration
        var mapOpts = {
          mapContainer: 'map',
          tileURL: 'http://api.tiles.mapbox.com/v3/mdb.map-iis6te5b.jsonp',
          mapOptions: {
            center: [39.99, -75.150],
            zoom: 12,
            minZoom: 9,
            maxZoom: 18,
            maxBounds: [
              [39.69, -76.20],
              [40.60, -74.14]
            ]
          }
        },
        complaintsCollection = new app.ComplaintsCollection(data);
        app.router = new app.Router(complaintsCollection, mapOpts);
        Backbone.history.start();
      },
      simpleSheet: true 
    });
  });
</script>
