<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.min.js"></script>
<% } else { %>
  <script type="text/javascript" src="app.js"></script>
<% } %>
<script type="text/javascript">
$(document).ready(function () {
  /*
  Tabletop.init({
    key: 'YOUR_DOCUMENT_KEY_GOES_HERE',
    callback: function(data, tabletop) { 
      var i,
          dataLength = data.length;
          
      for (i=0; i<dataLength; i++) {
        $('#politicians').append(
          $('<li>', {
            text: data[i].politician + ', ' + data[i].position
          })
        );
      }
    },
    simpleSheet: true 
  });
  */
  
  app.opts = {
    mapContainer: 'map',
    tileURL: 'http://api.tiles.mapbox.com/v3/caseypt.map-kbiq8yif.jsonp',
    mapOptions: {
      center: [39.99, -75.150],
      zoom: 12,
      minZoom: 11,
      maxZoom: 18,
      maxBounds: [
        [39.69, -76.20],
        [40.60, -74.14]
      ]
    }
  }

  // Kick off map
  app.initMap(function() {
    //Custom code goes here.
  });
});
</script>
